<html>
    <div>
        <script type="text/javascript">
            calcRoute();
        </script>
            
        <b>Mode of Travel: </b>
        <select id="mode" onchange="calcRoute();">
            <option value="WALKING">Select</option>
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
        </select>
    </div>
</html>
